@import url(https://fonts.googleapis.com/css?family=Philosopher|Quicksand|Roboto+Slab|Lora);

body {
  background-color: rgb(124, 169, 146);
  height: 100%;
}

.img-body-center {
  margin-top: 2em;
  display: block;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.title-contents h1, header h1 {
  font-family: 'Philosopher', sans-serif;
  color: rgb(255, 245, 240);
  font-size: 30pt;
  text-align: center;
}

.body-contents {
  color: rgb(255, 245, 240);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  padding-bottom: 30px;
}

.main .body-contents p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav {
  text-align: center;
  margin-bottom: 1em;
  color: rgb(255, 245, 240);
}

nav a {
  position: relative;
}

nav a:link {
  font-family: 'Lora', sans-serif;
  list-style-type: none;
  display: inline-block;
  color: inherit;
  font-size: 2em;
  margin-right: 20px;
  text-decoration: none;
}

nav a:visited {
  color: inherit;
  text-decoration: none;
}

nav a:not(.active):hover::after {
  content: '';
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 50%;
  margin-left: 25%;
  height: 2px;
  background-color: rgba(255, 245, 240, 0.8);
  animation: fadeIn 0.5s;
}

nav a.active::after {
  content: '';
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 50%;
  margin-left: 25%;
  height: 2px;
  background-color: rgba(255, 245, 240, 0.8);
}

footer p {
  margin: 0;
  color: rgb(255, 245, 240);
  text-align: center;
}

.ng-enter { animation: fadeIn 0.3s both ease-in; z-index: 8888; }
/*.ng-leave { animation: slideOutUp 0.5s both ease-in; z-index: 9999; }*/

@keyframes fadeIn {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

.project-desc h2 {
  width: 100%;
  text-align: center;
}

.project-date {
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}

.project-desc .short-desc {

}