@import url(https://fonts.googleapis.com/css?family=Quicksand|Roboto+Slab|Lora);

body {
  background-color: rgb(124, 169, 146);
  color: rgb(255, 245, 240);
  font-family: 'Roboto Slab', sans-serif;
  height: 100%;
}

.img-body-center {
  margin-top: 2em;
  display: block;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.title-contents h1, header h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 26pt;
  text-align: center;
}

.body-contents {
  padding-bottom: 30px;
}

.body-contents p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav {
  text-align: center;
}

nav a {
  position: relative;
}

nav a:link {
  font-family: 'Lora', sans-serif;
  list-style-type: none;
  display: inline-block;
  color: inherit;
  font-size: 2em;
  margin-right: 20px;
  text-decoration: none;
}

nav a:visited {
  color: inherit;
  text-decoration: none;
}

nav a:not(.active):hover::after {
  content: '';
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 50%;
  margin-left: 25%;
  height: 2px;
  background-color: rgba(255, 245, 240, 0.8);
  animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

nav a.active::after {
  content: '';
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 50%;
  margin-left: 25%;
  height: 2px;
  background-color: rgba(255, 245, 240, 0.8);
}

footer {
  line-height: 30px;
  text-align: center;
}

.ng-enter { animation: fadeIn 0.3s both ease-in; z-index: 8888; }
/*.ng-leave { animation: slideOutUp 0.5s both ease-in; z-index: 9999; }*/

@keyframes fadeIn {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
/*#nav_container {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  list-style: none;
  z-index:9999;
}

#nav_container > li {
 width: 100px;
 text-align: center;
}
  
#nav_container > li > a {
  color: rgb(90, 116, 188);
  font-family: Righteous, sans-serif;
  font-size: 18pt;
  text-decoration: none;
  display: block;
    margin-left: -2px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
  opacity: 0.6;
 }

#nav_container ul {
  list-style: none;
  display: block;
  position: absolute;
  left: inherit;
}

#nav_container ul li {
  text-align: left;
}

#nav_container ul a {
  color: rgb(90, 116, 188);
  text-decoration: none;
  display: block;
}

#nav_container li.active a {
  color: rgb(255, 245, 240);
  cursor: default;
}
 
#nav_container a::visited {
  color: inherit;
  }*/