<div class="container" id="wrapper_main">
	<div id="body_contents" class="row">
		<div class="project-desc col-md-8 col-md-offset-2">
			<h2><a href="http://www.victorreynolds.net/lyrics">Romantic-Era Lyrics</a></h2>

			<p>A website and database of English Romantic-Era sheet music and poetry.</p>
			<ul>
				<li>Backend implemented with PHP and MySQL</li>
				<li>Frontend built using AngularJS</li>
			</ul>
		</div>

		<div class="project-desc">
			<h2><a href="http://www.victorreynolds.net/arabic/dictionary/">Muntaser Arabic Dictoinary</a></h2>

			<p>A simple Arabic/English and English/Arabic dictionary.</p>
			<ul>
				<li>Searchable in both English and Arabic</li>
				<li>Also searchable with or without vowels in Arabic</li>
				<li>Built using PHP, MySQL, and AngularJS</li>
			</ul>
		</div>

	</div>
	
	<footer><p>&copy; Victor Reynolds <?php echo date("Y");?></footer>
</div>