<div class="container projects">
	<div class="body-contents">
		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://www.victorreynolds.net/lyrics">Romantic-Era Lyrics</a></h2>

				<p class="short-desc">A website and database of English Romantic-Era sheet music and poetry.</p>
				<p>The development version is stored on my server, and the source code will be available by the end of this year. I've been responsible for much of the planning, and design involved in this project, and I was responsible for all front-end and back-end development.</p>
				<ul>
					<li>Backend implemented with PHP and MySQL</li>
					<li>Frontend built using AngularJS</li>
				</ul>
			</div>
		</div>

		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://www.victorreynolds.net/arabic/dictionary/">Muntaser Arabic Dictoinary</a></h2>
				<p class="project-date">September 2014</p> 

				<p class="short-desc">A simple Arabic/English and English/Arabic dictionary.</p>
				<p>I built this before I began the Romantic-Era Lyrics project to give myself some familiarity with designing a database with MySQL, populating it with a PHP script, building a PHP API, and using that API with AngularJS.</p>
				<ul>
					<li>Searchable in both English and Arabic</li>
					<li>Also searchable with or without vowels in Arabic</li>
					<li>Built using PHP, MySQL, and AngularJS</li>
				</ul>
			</div>
		</div>

	</div>
</div>