<div class="container projects">
	<div class="body-contents">
		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://www.victorreynolds.net/lyrics">Romantic-Era Lyrics</a></h2>
				<p class="project-date">September 2013 - December 2015</p>

				<p class="short-desc">A website and database of English Romantic-Era sheet music and poetry.</p>
				<p>The development version is stored on my server, and the source code will be available by the end of this year. I've been responsible for most of the planning and design involved in this project, and I was responsible for all front-end and back-end development.</p>
				<p>I also managed and trained a team of student interns from the USC Honors College tasked with data-entry, data-collection and reformatting existing data to make it more compatible with the database schema.</p>
				<ul>
					<li>Backend implemented with PHP and MySQL</li>
					<li>Frontend built using AngularJS</li>
				</ul>
			</div>
		</div>

		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://www.breakerslive.com">Breakers Live Website</a></h2>
				<p class="project-date">August 2016</p>

				<p class="short-desc">Website for a popular Columbia, South Carolina bar.</p>
				<p>Built with Wordpress so that the owners of the bar can add events to the calendar and update drink menus when necessary.</p>
			</div>
		</div>

		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://www.carolinavino.com">CarolinaVino Website</a></h2>
				<p class="project-date">September 2015</p>

				<p class="short-desc">A basic website I built with Wordpress for a wholesale wine distributor from my hometown. I heavily modified the template.</p>
				<p>I chose to build the site with Wordpress so that the owners of the business would be able to easily make changes without having to rely on me being available.</p>
			</div>
		</div>

		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://calliope.cse.sc.edu/wardone/">Critical Interactives: Ward One</a></h2>
				<p class="project-date">January 2015 - May 2015</p>

				<p class="short-desc">An iPhone application and accompanying dynamic website that will present the story of the predominantly African American community in Columbia, South Carolina known as Ward One.</p>
				<p>I worked on this project through a class at USC. This is an application that will allow users to walk through the area of Columbia formerly known as Ward One and see what was once there.</p>
				<p>I was involved in planning the app and designing the backend framework and organization using a Django project. I determined that it would make the most sense to store our data of people and places on a server because the application will eventually have an accompanying website.</p>
				<p>I also made the <a href="http://calliope.cse.sc.edu/wardone/">project website.</a></p>
			</div>
		</div>

		<div class="project-desc row">
			<div class="col-md-8 col-md-offset-2">
				<h2><a href="http://www.victorreynolds.net/arabic/dictionary/">Muntaser Arabic Dictoinary</a></h2>
				<p class="project-date">October 2014</p> 

				<p class="short-desc">A simple Arabic/English and English/Arabic dictionary.</p>
				<p>I built this before I began the Romantic-Era Lyrics project to give myself some familiarity with designing a database with MySQL, populating it with a PHP script, building a PHP API, and using that API with AngularJS.</p>
				<ul>
					<li>Searchable in both English and Arabic</li>
					<li>Also searchable with or without vowels in Arabic</li>
					<li>Built using PHP, MySQL, and AngularJS</li>
				</ul>
			</div>
		</div>

	</div>
</div>
